<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.commcare.dalvik.reminders"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="org.commcare.dalvik.provider.cases.read"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="false"
        android:name=".ReminderApplication"
        android:icon="@mipmap/reminder_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/reminder_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".CommCareReceiver">
            <intent-filter>
                <action android:name="org.commcare.dalvik.api.action.data.update"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".notification.RemindersNotificationReceiver"/>
    </application>

</manifest>